.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  padding: 50px;
  font-weight: bold;
  width: 100%;
}

.return {
  position: absolute;
  left: 5%;
  font-size: 24px;
  cursor: pointer;
}